# Assingment "Assignment" System for DCT Academy's Code Platform

In [1]:
import numpy as np
import pandas as pd
import functools
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql+psycopg2://postgres:sudhanvasud@localhost/postgres')

print(engine.table_names())

['answers', 'ar_internal_metadata', 'assignment_groups', 'assignments', 'batch_students', 'batches', 'chat_rooms', 'code_play_backs', 'comments', 'courses', 'editor_settings', 'favourites', 'forks', 'friendly_id_slugs', 'list_assignments', 'lists', 'messages', 'notification_types', 'notifications', 'permissions', 'practice_students', 'practices', 'questions', 'read_questions', 'roles', 'schema_migrations', 'sections', 'solutions', 'student_courses', 'student_logs', 'students', 'submission_timers', 'submissions', 'taggings', 'tags', 'test_cases', 'users', 'videos']

## Creating list of dataframe of all tables, a dictionary mapping to corresponding dataframe

In [3]:
# Dictionary of all the tables and their columns
table_columns = {}

# Dictionary of all dataframes mapped with table names
df_all = {}

# List of all dataframes of all tables
df_list = []

for table in engine.table_names():
    df = pd.read_sql(table, engine)
    df_all[table] = df
    df_list.append(df)
    table_columns[table] = list(df.columns)

## Converting dictionary of table and its columns to csv

In [4]:
# df_table_columns = pd.DataFrame(dict([(k, pd.Series(v)) for k,v in table_columns.items()])).fillna("")
# df_table_columns.to_csv('../assets/table_columns.csv', index=False)

## Joining users, assignments, submissions table

In [37]:
student_users_df = df_all['users'][['id']].merge(df_all['students'][['id', 'name']], left_on='id', right_on='id')
student_users_df.columns = ['user_id', 'student_name']
student_users_df.to_html('student_users.html')
student_users_df.head()

   user_id          student_name
0       14             Indrajit
1       15   Pradeep Kumar Reddy
2       12        Aditya Nagar\t
3       16          Pratap Mohan
4       11  Sujith Kumar Reddy\t

In [47]:
submission_assignments_df =  df_all['submissions'][['id', 'user_id', 'assignment_id', 'time_in_seconds', 'pass', 'fail', 'total', 'points', 'is_checked']].merge(df_all['assignments'][['id', 'approved', 'points', 'minutes']], left_on='assignment_id', right_on='id')
submission_assignments_df.columns = ['user_id', 'submission_id', 'assign_id', 'time_in_seconds', 'pass', 'fail', 'total', 'points_submission',
       'is_checked', 'assignment_id', 'approved', 'points_assignment', 'minutes']
submission_assignments_df.drop(['assignment_id'], axis=1, inplace=True)
submission_assignments_df.to_html('submission_assingment.html')
submission_assignments_df.head()

,user_id,submission_id,assign_id,time_in_seconds,pass,fail,total,points_submission,is_checked,approved,points_assignment,minutes
0,2,13,13,0,0,0,0,0.0,false,True,20,5
1,3,13,13,0,0,0,0,0.0,false,True,20,5
2,5,11,13,0,0,0,0,0.0,true,True,20,5
3,6,12,13,0,0,0,0,0.0,true,True,20,5
4,4,13,13,0,0,0,0,0.0,true,True,20,5

In [52]:
student_users_df.merge(submission_assignments_df, left_on='user_id', right_on='user_id')

,user_id,student_name,submission_id,assign_id,time_in_seconds,pass,fail,total,points_submission,is_checked,approved,points_assignment,minutes
0,14,Indrajit,17,13,0,0,0,0,0.0,false,True,20,5
1,15,Pradeep Kumar Reddy,22,31,523,0,0,0,0.0,false,True,10,10
2,12,Aditya Nagar\t,19,13,0,0,0,0,0.0,incorrect,True,20,5
3,16,Pratap Mohan,18,31,918,0,0,0,0.0,partial output,True,10,10
4,11,Sujith Kumar Reddy\t,18,44,0,0,0,0,0.0,correct,True,10,5
5,19,Shweta Gopinath,24,31,510,0,0,0,0.0,correct,True,10,10
6,13,Teja Kumar Reddy,18,13,0,0,0,0,0.0,false,True,20,5
7,30,Pavan Kumar,13,17,331,0,0,0,0.0,incorrect,True,10,10
8,21,Hasan Ali,23,31,82,0,0,0,0.0,correct,True,10,10
9,18,Keerthana DC,20,31,1423,0,0,0,0.0,correct,True,10,10
10,25,Kartikay Dwivedi,23,55,763,0,0,0,0.0,correct,True,20,5
11,24,Kalyan Ponugoti,17,55,919,0,0,0,0.0,correct,True,20,5
12,22,Naman Garg,18,55,903,0,0,0,0.0,correct,True,20,5
13,31,Ani,14,26,760,0,0,0,0.0,correct,True,10,10
14,20,Shan Shaji,25,31,85,0,0,0,0.0,correct,True,10,10
15,17,Geetika Chopra,13,31,830,0,0,0,0.0,correct,True,10,10
16,23,test,13,55,910,0,0,0,0.0,partial output,True,20,5
17,28,Sushma D S,25,55,2035,0,0,0,0.0,correct,True,20,5
18,29,Urvashi Raj,13,26,775,0,0,0,0.0,correct,True,10,10
19,37,Lakshmi Sravani,24,26,3433,0,0,0,0.0,correct,True,10,10
20,27,Sugama Suhasini K,24,55,1889,0,0,0,0.0,false,True,20,5
21,41,Chetan Kailash,13,32,4443,0,0,0,0.0,correct,True,10,10
22,42,Karthik D,24,17,3057,0,0,0,0.0,incorrect,True,10,10
23,32,Vivek Ravindra\t,21,26,1511,0,0,0,0.0,false,True,10,10
24,44,Shreedhar Hegade,13,34,1202,0,0,0,0.0,partial output,True,10,15
25,39,Subhashree Acharya,14,33,874,0,0,0,0.0,correct,True,10,15
26,38,Harish BN,21,30,505,0,0,0,0.0,false,True,10,15
27,2,test,13,13,0,0,0,0,0.0,false,True,20,5
28,26,Ravi D L,20,55,1939,0,0,0,0.0,false,True,20,5
29,54,Sai Srikant Verma,17,62,511,0,0,0,0.0,correct,True,30,30
30,66,Sri Nitya,18,27,2235,0,0,0,0.0,correct,True,20,20
31,58,Madhu Mandanna,17,65,2267,0,0,0,0.0,correct,True,20,20
32,62,Chaitra S Bharadwaj,20,50,881,0,0,0,0.0,correct,True,20,20
33,69,Chetan Kumar C,18,62,1100,0,0,0,0.0,correct,True,30,30
34,36,Asha TV,14,30,1591,0,0,0,0.0,correct,True,10,15
35,52,Chenchu Lakshmi Sravya,21,47,938,0,0,0,0.0,correct,True,10,5
36,59,Vaanu Tamaya,20,27,1486,0,0,0,0.0,correct,True,20,20
37,61,Shreekar Hegde,21,62,6566,0,0,0,0.0,correct,True,30,30
38,50,Bhagirathi Salinka,14,32,52482,0,0,0,0.0,correct,True,10,10
39,65,Ranjan HP,13,27,8522,0,0,0,0.0,correct,True,20,20
40,46,Pavan Kalyan,14,50,2440,0,0,0,0.0,correct,True,20,20
41,56,Anup M,21,27,8199,0,0,0,0.0,correct,True,20,20
42,70,Libin Kuriakose,18,50,1241,0,0,0,0.0,correct,True,20,20
43,49,NIkhil Reddy,21,32,19749,0,0,0,0.0,false,True,10,10
44,40,Aishwarya,14,34,541,0,0,0,0.0,correct,True,10,15
45,55,Gaurav V,17,50,1321,0,0,0,0.0,correct,True,20,20
46,34,Pallipati Nagaraju,14,17,798,0,0,0,0.0,correct,True,10,10
47,43,Adarsha V,13,33,1144,0,0,0,0.0,false,True,10,15
48,68,Kavya Shree,19,62,524,0,0,0,0.0,partial output,True,30,30
49,48,Aditya Sagar,21,34,11548,0,0,0,0.0,false,True,10,15
50,47,Pavan Shivraj,13,50,3699,0,0,0,0.0,incorrect,True,20,20
51,60,Prashanth K,20,62,898,0,0,0,0.0,correct,True,30,30
52,67,Swetha Mannur,19,27,839,0,0,0,0.0,partial output,True,20,20
53,45,Vijaykumar R Pai,21,33,893,0,0,0,0.0,false,True,10,15
54,35,Dhanush,21,17,2055,0,0,0,0.0,false,True,10,10
55,64,Irawati Gole,20,65,1972,0,0,0,0.0,correct,True,20,20